@model CountiesVM;

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/lib/handlebars/handlebars.js"></script>
    <script src="~/js/map.js"></script>
    <script type="text/x-handlebars-template" id="city-template">
        <tr>
            <input asp-for="{{id}}" value="{{id}}" name="{{id}}" type="hidden" class="city-id" />
        @*<td><input type="checkbox" class="checkthis" value="{{id}}" /></td>*@
            <td></td>
            <td>
                <span class="city-name">{{name}}</span>
            </td>
            <td>
                <button class="btn btn-xs edit px-0" title="Edit" data-toggle="tooltip" data-title="Edit"><span class="fa fa-pencil"></span></button>
                <button class="btn btn-xs delete px-0" title="Delete" data-toggle="tooltip" data-title="Delete"><span class="fa fa-trash"></span></button>
            </td>
        </tr>
    </script>
}

<div class="row">
    <div class="column col-sm-4">
        <h3>Counties</h3>
        <p>
            <button id="new-county" class="btn btn-success"><i class="fa fa-plus"></i></button>
        </p>
        <table class="table table-sm table-hover shadow px-3" id="counties-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>County</th>
                    <th>Abbreviation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Counties.Count; i++)
                {
                    <tr data-title="click to see cities" class="table-row">
                        <input asp-for="@Model.Counties[i].Id" value="@Model.Counties[i].Id" name="@Model.Counties[i].Id" type="hidden" class="county-id" />
                        <td></td>
                        <td>
                            <span class="county-name">@Html.DisplayFor(modelItem => Model.Counties[i].Name)</span>
                        </td>
                        <td>
                            <span class="county-short-name">@Html.DisplayFor(modelItem => Model.Counties[i].ShortName)</span>
                        </td>

                        <td>
                            <button class="btn btn-xs edit px-0" title="Edit" data-title="Edit" data-toggle="tooltip" data-target="#modal-edit-form"><span class="fa fa-pencil"></span></button>
                            <button class="btn btn-xs delete px-0" title="Delete" data-title="Delete" data-toggle="tooltip" data-target="#delete"><span class="fa fa-trash"></span></button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
    <div class="column col-sm-4">
        <h3>Cities</h3>
        <p>
            <button id="new-city" class="btn btn-success"><i class="fa fa-plus"></i></button>
        </p>
        <table class="table table-sm table-hover shadow" id="cities-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-edit-county" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input value="" type="hidden" id="county-id" />

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Name</label>
                    <input required type="text" id="county-name-input" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Short name</label>
                    <input required type="text" id="county-short-name-input" class="form-control validate">
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default" id="save-county-changes">Save Changes</button>
                <button class="btn btn-default" id="add-county">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-city" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input value="" type="hidden" id="city-id" />
            <input value="" type="hidden" id="selected-county-id" />

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="defaultForm-email">name</label>
                    <input required type="text" id="city-name-input" class="form-control validate">
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default" id="save-city-changes">Save Changes</button>
                <button class="btn btn-default" id="add-city">Add</button>
            </div>
        </div>
    </div>
</div>