@model AlbumViewModel
@inject CurrentUser CurrentUser

@{
    ViewData["Title"] = "ViewAlbum";
}

<div class="col">
    <div class="card shadow album-container">
        <input asp-for=@Model.Id class="album-id" type="hidden" />
        <input asp-for=@Model.Name class="album-name" type="hidden" />
        @if (CurrentUser.Id == Model.UserId)
        {
            <div class="card-header">
                <a asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id" data-title="Edit" class="btn">
                    <i class="fa fa-pencil"></i>
                </a>
                <a data-title="Delete" class="float-right delete-album btn">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        }
        <a asp-controller="Album" asp-action="Details" asp-route-id="@Model.Id"><img src="@Url.Content(Model.CoverFilePath)" class="card-img-bottom"></a>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <div class="card-text">
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Model.NrOfImages photos</small>
            <small class="text-muted float-right">Last updated @Model.CreatedDate.TimeAgo()</small>
        </div>
    </div>
</div>