@inject IAuthorizationService AuthorizationService
@using SocializR.Entities.Enums
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject CurrentUser CurrentUser

@* @inject RouteJs.IRouteJsHelper RouteJs *@
@* @RouteJs.Render() *@

<!DOCTYPE html>
<html>
<head>
    <partial name="Partials/_Head" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <partial name="Partials/_Menu" />
    </header>
    <main>
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="column first-col nav">
                <li>
                    <a asp-controller="Profile" asp-action="Get" asp-route-id=@UserManager.GetUserId(User) class="UserName side-menu-item">
                        <img class="img-responsive img-circle img-thumbnail" id="avatar-photo" src="@Url.Action("RenderProfilePicture", "Profile", new { id=UserManager.GetUserId(User)})" />
                        @CurrentUser.FirstName @CurrentUser.LastName
                    </a>
                </li>
                <li>
                    <a href="/Profile/Edit/@UserManager.GetUserId(User)" class="side-menu-item"><i class="glyphicon glyphicon-eye-open"></i> Edit Profile</a>
                </li>
                <li>
                    <a asp-controller="Album" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-picture"></i> Edit Photos</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index" asp-route-id=1 class="side-menu-item"><i class="glyphicon glyphicon-list-alt"></i> Feed</a>
                </li>
                <li>
                    <a asp-controller="Friendship" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-sunglasses"></i> Friends</a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-controller="County" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-globe"></i> Map</a>
                    </li>
                    <li>
                        <a asp-controller="Interest" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-music"></i> Interests</a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-user"></i> Users</a>
                    </li>
                    <li>
                        <a asp-controller="Statistics" asp-action="Index" class="side-menu-item"><i class="glyphicon glyphicon-stats"></i> Statistics</a>
                    </li>
                }
            </ul>

            <div class="col-sm-9 column content container second-col">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="row"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    @RenderBody()
                </div>
                <div class="col"></div>
            </div>
            <div class="row"></div>
        }
    </main>
    <footer class="footer mt-auto py-3 bg-dark-subtle">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - SocializR</span>
        </div>
    </footer>

    @*     @Html.Partial("_ValidationScriptsPartial") *@
    <partial name="Partials/_JavaScriptFiles" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
