@model MediaViewModel

@{
    ViewData["Title"] = "_Image";
}

<input asp-for="Id" name="@Model.Id" value="@Model.Id" type="hidden" class="image-id" />
<div class="row">
    <figure class="figure col-sm-12">
        <input type="hidden" asp-for="Id" value="@Model.Id" class="image-id" />
        @if (Model.Type == MediaTypes.Image)
        {
            <img src="@Url.Content(Model.FileName)" class="card-img-bottom">
        }
        else if(Model.Type == MediaTypes.Video)
        {
            <video controls class="no-side-padding col-sm-12 figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <source src="@Url.Content(Model.FileName)" type="video/mp4">
                <source src="@Url.Content(Model.FileName)" type="video/m4v">
            </video>
        }
    </figure>
</div>


