@inject UserManager<User> UserManager
@model ViewProfileVM
@using SocializR.Entities.Enums

@{
    ViewData["Title"] = "View";
}

@section Styles {
    <link href="~/css/media.css" rel="stylesheet" />
    <link href="~/css/avatar.css" rel="stylesheet" />
    <link href="~/css/album.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/profile.js"></script>
    <script src="~/js/gallery.js"></script>
    <script src="~/js/album.js"></script>
}

<div class="row avatar sections-layout">
    <div class="col-sm-3">
        <img class="img-responsive img-circle img-thumbnail header-photo" src="~/images/noprofile.png">
    </div>
    <div class="col-sm-9 no-padding-left">
        <h2>@Model.FirstName @Model.LastName</h2>
    </div>

    @switch (Model.RelationToCurrentUser)
    {
        case (RelationTypes.Friends):
            <a class="btn btn-primary unfriend">Unfriend</a>
            break;
        case (RelationTypes.Strangers):
            <a class="btn btn-primary send-friend-request">Send Friend Request</a>
            break;
        case (RelationTypes.PendingAccept):
            <a class="btn btn-success accept-friend-request">Accept friend request</a>
            <a class="btn btn-danger reject-friend-request">Reject friend request</a>
            break;
        case (RelationTypes.RequestedFriendship):
            <a class="btn btn-primary delete-friendrequest">Delete Friend Request</a>
            break;
        default:
            break;
    }

    @if (Model.Id.ToString() != UserManager.GetUserId(User))
    {
        <span>@Model.MutualFriends mutual friends</span>

    }
</div>

<dl>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </div>

    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.County)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.City)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.MyInterests)
        </dt>
        <dd class="col-sm-11">
            <select asp-for="MyInterests" asp-items="Model.Interests" disabled class="js-states form-control" id="select2interests-view" multiple="multiple"></select>
        </dd>
    </div>
</dl>


@if (Model.IsPrivate == false || Model.Id.ToString() == UserManager.GetUserId(User) || (Model.IsPrivate == true && Model.RelationToCurrentUser == RelationTypes.Friends))
{
    <div>
        <h3>Albums</h3>
        <hr />
        <div class="albums-container row">
            @foreach (var album in Model.Albums)
            {
                @await Html.PartialAsync("../Album/_Album", album)
            }
        </div>
    </div>
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title" />
            </div>
            <div class="modal-body" id="modal-gallery">
            </div>
        </div>
    </div>
</div>


