@model IEnumerable<InterestViewModel>

@{
    ViewData["Title"] = "Interests";
}

@section Scripts {
    <script src="~/js/interest.js"></script>
}

<h3>Interests</h3>

<p>
    <a asp-action="Create"><i class="btn btn-success fa fa-plus"></i></a>
</p>
<table class="table table-sm table-hover shadow px-3">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <input asp-for="@item.Id" value="@item.Id" name="@item.Id" type="hidden" class="interest-id" />
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @* <a class="delete-interest">Delete</a> *@

                    <a class="btn btn-xs edit px-0" title="Edit" data-toggle="tooltip" data-title="Edit" asp-controller="Interest" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa fa-pencil"></i>
                    </a> |

                    <button class="btn btn-xs delete px-0" title="Delete" data-toggle="tooltip" data-title="Delete">
                        <i class="fa fa-trash delete-interest"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>